* {
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}

body {
	width: 100%;
	background-color: #e1fcc2;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
